include ../helpers/data/aesthetics.pug

section.aesthetics
	.aesthetics__inner
		h2.title.title--lg.title--gray.aesthetics__title
			span эстетика
			span внутри


		.aesthetics__tab.aesthetics-tab
			ul.aesthetics-tab__head.aesthetics-head
				each item,i in aesthetics_tabs
					li.aesthetics-head__item(class=`${i===2?"aesthetics-head__item--width":""}`)
						button.aesthetics-head__link.tab-btn( data-tab-content-id=`${item.href}` class=i===0?"selected":'')= item.label
							if item.info
								.aesthetics-head__info
									span.aesthetics-head__mark i
									p.aesthetics-head__text= item.info


	.aesthetics__wrapper
		each item,i in aesthetics_tabs

			.aesthetics-tab__swiper.swiper.js-aesthetics-tabs.tab-content(id=`${item.href}` class=i===0?"":'hidden')
				.swiper-wrapper
					each el in ['','','','','','','','']
						.swiper-slide.aesthetics-tab__slide.aesthetics-tab__slide--cover
							figure.aesthetics-tab__figure
								+img-retina('aesthetics', 'jpg', 'aesthetics', 'aesthetics-tab__img', '803', '803')

							ul.aesthetics-tab__list
								li.aesthetics-tab__item.aesthetics-tab__item--title РЕМОНТ "ПОД КЛЮЧ"
								each word in aesthetics_list
									li.aesthetics-tab__item= word

				.aesthetics-tab__scrollbar
				.aesthetics-tab__cover

			.aesthetics__touch.aesthetics-touch
				.aesthetics-touch__block.aesthetics-touch__block--prev(class=`aesthetics-touch__block--prev-${i}`)
					button.control.control--prev.aesthetics-touch__btn--prev.aesthetics-touch__btn(type='button')
						+svg('arr-top')
				.aesthetics-touch__block.aesthetics-touch__block--next(class=`aesthetics-touch__block--next-${i}`)
					button.control.control--next.aesthetics-touch__btn--next.aesthetics-touch__btn(type='button')
						+svg('arr-top')
