include ../helpers/data/dubrovka.pug

section.dubrovka
	.dubrovka__inner
		h2.dubrovka__title.dubrovka__title--desk.title.title--lg.title--gray
			span одубровке
			span наневе

		h2.dubrovka__title.dubrovka__title--phone.title.title--lg.title--gray
			span о дубровке
			span на неве

		.dubrovka__content.tabs.container-lt#dubrovka
			ul.tabs__head.tabs-head
				each item,i in dubrovka_tabs
					li.tabs-head__item
						if item.mobile
							button.tabs-head__link.tab-btn( data-tab-content-id=`${item.href}` class=i===0?"selected":'' class=`${item.mobile?'tab-btn--mobile':''}`)= item.labelPhone
						button.tabs-head__link.tab-btn( data-tab-content-id=`${item.href}` class=i===0?"selected":'' class=`${item.mobile?'tab-btn--change':''}`)= item.label


			.tabs__wrapper



				.tabs__block.tabs-block
					.tabs-block__inner
						each item,i in dubrovka_tabs
							.tabs-block__info.tab-content(id=`${item.href}` class=i===0?"":'hidden')
								p.tabs-block__text= dubrovka_text
						.tabs-block__control.tabs-block__control--dt
							button.tabs-block__btn.control.control--prev(type='button' class=`tabs-block__btn--prev`)
								+svg('arr-top')
							button.tabs-block__btn.control.control--next(type='button' class=`tabs-block__btn--next`)
								+svg('arr-top')



					.tabs-block__slider.tabs-slider.swiper.js-tabs-slider
						.tabs-slider__list.swiper-wrapper
							each item,i in dubrovka_tabs

								each el,n in ['','','']
									.swiper-slide.tabs-slider__item.dubrovka-slide(data-slide=`${item.href}`)
										figure.dubrovka-slide__figure
											img.dubrovka-slide__img(src='/img/dubrovka.jpg', alt="слайд" width="488" height="746")

										p.dubrovka-slide__text Мягкий шепот волни легкий бриз приносят с собой ощущениесвежести и обновления.
											span= `${item.label}`


						//- .tabs-block__control.tabs-block__control--tb
							button.tabs-block__btn.control.control--prev(type='button' class=`tabs-block__btn--prev-${i}`)
								+svg('arr-top')
							button.tabs-block__btn.control.control--next(type='button' class=`tabs-block__btn--next-${i}`)
								+svg('arr-top')
						.tabs-slider__scrollbar
						.tabs-slider__cover
