include ../helpers/data/promo.pug

section.promo
	.promo__inner
		.promo__swiper.swiper.promo-swiper
			.swiper-wrapper.promo-swiper__wrapper
				each item,i in promo_slider
					li.swiper-slide.promo-swiper__slide.promo-slide(class=`promo-slide--${i}`)
						figure.promo-slide__figure
								+img-retina(`${item.img}`, 'jpg', 'image', 'promo-slide__img', '1919', '970')

						.promo-slide__inner
							.promo-slide__label.slide-label
								span.slide-label__head
									span= item.label[0]
									span.slide-label__price= item.price
									span= item.label[1]
								each el,i in item.label
									if i>1
										span= el

							h1.title.title--lg.title--white.promo-slide__title.promo-title(class=`promo-title--${i}`)
								span.promo-title__text

									| КВАРТИРА
								span.promo-title__text

									| У НЕВЫ
							.promo-slide__block
								a.promo-slide__link.promo-slide__link--desk.js-anchor(href="#choose") смотреть планировки
								a.promo-slide__link.promo-slide__link--mob(href="#") смотреть планировки
								p.promo-slide__text= item.text

			.promo-swiper__pagination.pagination-bar


		//- .promo__touch.promo-touch
			.promo-touch__block.promo-touch__block--prev(class=`promo-touch__block--prev-${i}`)
				button.control.control--prev.promo-touch__btn--prev.promo-touch__btn(type='button')
					+svg('arr-top')
			.promo-touch__block.promo-touch__block--next(class=`promo-touch__block--next-${i}`)
				button.control.control--next.promo-touch__btn--next.promo-touch__btn(type='button')
					+svg('arr-top')
